# Prerequisites
*.d

CMakeFiles/
CMakeCache.txt
.cquery_cached_index/
.ninja_deps
.ninja_log
build.ninja
rules.ninja
.projectile
compile_commands.json
*.cmake

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.ilk
*.pdb

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
